---
import Container from "./container.astro";
 const {currentPage, lastPage , url }= Astro.props
const { current, next, prev, first, last } = url;

---
<Container class="flex items-center justify-center mt-3">
  <div class="flex flex-wrap gap-4 items-center">

    {first && (
      <a href={first} class="px-4 py-2 bg-gray-700 text-white rounded-lg hover:bg-gray-800 transition duration-300">
        First
      </a>
    )}
    {prev && (
      <a href={prev} class="px-4 py-2 bg-gray-700 text-white rounded-lg hover:bg-gray-800 transition duration-300">
        Previous
      </a>
    )}
    <span class="px-4 py-2 bg-gray-300 text-gray-800 rounded-lg">
      Page {currentPage} of {lastPage}
    </span>
    {next && (
      <a href={next} class="px-4 py-2 bg-gray-700 text-white rounded-lg hover:bg-gray-800 transition duration-300">
        Next
      </a>
    )}
    {last && (
      <a href={last} class="px-4 py-2 bg-gray-700 text-white rounded-lg hover:bg-gray-800 transition duration-300">
        Last
      </a>
    )}
  </div>

</Container>