---
import { Picture } from "astro:assets";
import cx from "classnames";
import { Image } from 'astro:assets'
const apiUrl = import.meta.env.VITE_API_URL;
const {aspect, preloadImage, author, post }= Astro.props
const {  title, slug, excerpt, categories, publishedAt, image } = post; 

// Format Date
const date = new Date(publishedAt);
const options = { year: "numeric", month: "short", day: "numeric" };
const formattedDate = date.toLocaleDateString("en-US", options);
---


<article
  class="flex flex-col items-start justify-between border rounded-lg overflow-hidden shadow-md bg-white"
>
  <!-- Picture at the top -->
  <div
  class={cx(
    "relative overflow-hidden transition-all bg-gray-100 rounded-md dark:bg-gray-800   hover:scale-105",
    aspect === "landscape" ? "aspect-video" : "aspect-square"
  )}>
  <a href={slug}>
    {
      image ? (
        <Image
        src={`${apiUrl}${image?.formats.small.url}`} 
          widths={[200, 400, 800]}
          width={image?.formats.small.width} 
          height={image?.formats.small.height}
          alt="Thumbnail"
          loading={preloadImage ? "eager" : "lazy"}
          class="w-full h-full rounded-md"
        />
      ) : (""
        // <span class="absolute w-16 h-16 text-gray-200 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
        //   <Icon
        //     class="w-4 h-4 text-black"
        //     name="heroicons:photo"
        //   />
        // </span>
      )
    }
  </a>
</div>
  

  <!-- Display all categories as badges -->
  <div class="flex items-center gap-x-4 text-xs mt-2 px-4">
    <time datetime="2020-03-16" class="text-gray-500">{formattedDate}</time>

    <!-- Map over categories to display each one as a badge -->
    {
       categories && categories.map((category) => (
        <a
          href={category.catSlug}
          class={`relative z-10 rounded-full bg-gray-200 px-3 py-1.5 font-medium hover:bg-gray-300 ${category.categoryColor}`}
          key={category.id}
        >
          {category.name}
        </a>
      ))
    }
  </div>

  <div class="group relative p-4">
    <h3 class="text-lg font-semibold text-gray-900 group-hover:text-gray-600">
      <a href={slug}>
        <span class="absolute inset-0"></span>
        {title}
      </a>
    </h3>
    <p class="mt-2 line-clamp-3 text-sm text-gray-600">{excerpt}</p>
  </div>

  <div class="relative mt-8 flex items-center gap-x-4 px-4 pb-4">
    <Image
    src={`${apiUrl}${author.avatar.formats.thumbnail.url}`} 
    width={author.avatar.formats.thumbnail.width}
    height={author.avatar.formats.thumbnail.height}
    alt={author.name}
      class="h-10 w-10 rounded-full bg-gray-50"
    />
    <div class="text-sm">
      <p class="font-semibold text-gray-900">
        <a href="/about">
          <span class="absolute inset-0"></span>
         {author.name}
        </a>
      </p>
      <p class="text-gray-600">{author.designation}</p>
    </div>
  </div>
</article>
